<a href="https://colab.research.google.com/github/githubsaniya924/Hypothesis_Testing/blob/main/Ordinal_data_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('GSS2012a.csv')

<ipython-input-4-ed604b275e5e>:2: DtypeWarning: Columns (11,115,123,187,274,284,287,288,290,291,292,397,585,595,628,632) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('GSS2012a.csv')

In [ ]:
data

,year,id,mar1,BMITZVAH,accntsci,age,sex,life,ENGDO,SCIENTBR,...,wrksch,wrkslf,wrkstat,wrkwayup,wwwhr,wwwmin,xmarsex,xmovie,xnorcsiz,zodiac
0,2012.0,1.0,MARRIED,NaN,NaN,22.0,MALE,EXCITING,NaN,NaN,...,WORK PART-TIME,SOMEONE ELSE,WORKING PARTTIME,AGREE SOMEWHAT,5.0,NaN,ALWAYS WRONG,NaN,"UNINC,MED CITY",LIBRA
1,2012.0,6.0,DIVORCED,NaN,NaN,50.0,FEMALE,NaN,NaN,NaN,...,WORK FULL-TIME,SOMEONE ELSE,OTHER,AGREE SOMEWHAT,0.0,0.0,SOMETIMES WRONG,NaN,"CITY,50-250000",TAURUS
2,2012.0,7.0,MARRIED,NaN,NaN,35.0,FEMALE,NaN,NaN,NaN,...,NaN,SOMEONE ELSE,KEEPING HOUSE,AGREE SOMEWHAT,2.0,NaN,NaN,NO,"CITY,50-250000",SCORPIO
3,2012.0,9.0,SEPARATED,NaN,NaN,28.0,FEMALE,ROUTINE,NaN,NaN,...,WORK PART-TIME,NaN,KEEPING HOUSE,AGREE STRONGLY,NaN,NaN,ALWAYS WRONG,NaN,"CITY,50-250000",LIBRA
4,2012.0,11.0,DIVORCED,NaN,NaN,55.0,MALE,ROUTINE,NaN,NaN,...,NaN,SOMEONE ELSE,OTHER,NaN,14.0,NaN,SOMETIMES WRONG,NaN,"SUBURB, MED CITY",PISCES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,2012.0,563.0,MARRIED,NaN,NaN,50.0,FEMALE,EXCITING,NaN,NaN,...,NaN,SELF-EMPLOYED,WORKING PARTTIME,NaN,NaN,NaN,ALWAYS WRONG,NO,CITY GT 250000,NaN
1970,2012.0,1121.0,MARRIED,NaN,NaN,65.0,FEMALE,NaN,NaN,NaN,...,NaN,SOMEONE ELSE,WORKING FULLTIME,AGREE SOMEWHAT,NaN,NaN,NaN,NO,"UNINC,MED CITY",GEMINI
1971,2012.0,1350.0,MARRIED,NaN,NaN,63.0,MALE,EXCITING,Good,NaN,...,NaN,SOMEONE ELSE,RETIRED,NaN,NaN,NaN,ALMST ALWAYS WRG,YES,"UNINC,MED CITY",GEMINI
1972,2012.0,1433.0,MARRIED,NaN,NaN,81.0,MALE,NaN,NaN,NaN,...,NaN,SELF-EMPLOYED,RETIRED,NEITHER AGREE NOR DISAGREE,NaN,NaN,NaN,NO,"SUBURB, MED CITY",GEMINI
1973,2012.0,1679.0,MARRIED,No,NaN,18.0,FEMALE,NaN,NaN,NaN,...,NaN,NaN,SCHOOL,DISAGREE STRONGLY,6.0,0.0,NaN,NO,SMALLER AREAS,ARIES

In [ ]:
ordinal_data = data['accntsci']
ordinal_data.value_counts()

accntsci
Not too scientific       348
Not scientific at all    307
Pretty scientific        199
Very scientific          100
Name: count, dtype: int64

In [ ]:
#replace these four words into code
ordinal_data.value_counts().index

Index(['Not too scientific', 'Not scientific at all', 'Pretty scientific',
       'Very scientific'],
      dtype='object', name='accntsci')

In [ ]:
ordinal_data = ordinal_data.replace({'Not too scientific':1,
                                     'Not scientific at all':0,
                                     'Pretty scientific':2,
                                     'Very scientific':3})

<ipython-input-6-155d3af154de>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ordinal_data = ordinal_data.replace({'Not too scientific':1,

In [ ]:
#Hypothesis test
#The median value of the data is equal to X (Hypothetical median)?

'''
h0 - the median value of the data is not different from x(hypothetical value)
h1 - the median value of the data is different from x(hypothetical value)

pvalue < 0.05 -> null hypothesis is rejected

We the pvalue < 0.05 then, we can measure the effect size(negligible,small,medium,large)
'''

In [ ]:
from scipy.stats import wilcoxon

x=2.5 #ypothetical mean

ordinal_data =ordinal_data.dropna()

wilcoxon(ordinal_data-2.5,zero_method='wilcox')

WilcoxonResult(statistic=15000.0, pvalue=8.376600483105338e-142)

In [ ]:
#pvalue=8.376600483105338e-142  is very very less than 0.01
#this means that the null hypothesis can be safely rejected and the alternate hypothesis is likely true
#From the sample we are inferning the population
#Because the pvalue is less than 0.05 we can say that even the population id following the inference i.e the median value is different from x.

#We can measure the effect size if the pvalue<0.05

#The effect size for the wilcoxon test is known as Rosenthal correlation coefficient
#to calculate this we need the pvalue
#pvalue=8.376600483105338e-142

In [ ]:
pvalue=8.376600483105338e-142

z = norm.ppf(pvalue/2)

#sample size
#n=len(ordinal_data)
n=942

r_ros = abs(z/n**0.5)

if r_ros <0.2:
  print('very small')
elif r_ros<0.4:
  print('small')
elif r_ros<0.6:
  print('medium')
elif r_ros<0.8:
  print('strong')
else:
  print('very strong')

In [ ]:
'''
A one sample wilcoxon signed-rank test indicates that the median of the population is different from x=2.5 (pvalue<0.01)
and the rosenthal correlation coefficient indicate the difference is strong.

We utilised a ssample and concluded about the population
'''